/* font-family: 'Open Sans',
sans-serif;
font-family: 'Roboto',
sans-serif; */

nav,
section,
header {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;

}

#navIm {
    width: 2rem;
}

.navbar-brand,
.nav-link {
    color: white;
    text-shadow: 0.3px 0.3px lightslategrey;
}

.card-img-top {
    height: 40%;
}